<!-- 37. Creating the Navigation and Login form -->
<!-- 57. Bringing some color to our app with a theme from Bootswatch -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <!-- 61. Setting up our links in the nav component -->
    <a class="navbar-brand" [routerLink]="['/home']">Testing App</a>

    <!-- 56. Adding Ngx Bootstrap to power our Bootstrap components -->
    <!-- 61. Setting up our links in the nav component -->
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <!-- 41. Using *ngIf to conditionally display HTML Elements -->
    <!-- 56. Adding Ngx Bootstrap to power our Bootstrap components -->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>

      <!-- 114. Adding the main photo to the Nav bar -->
      <span class="mr-1">
        <!-- <img src="{{authService.currentUser.photoUrl}}" alt=""> -->
        <!-- 116. Using BehaviorSubject to add any to any communication to our app. -->
        <!-- <img src="{{photoUrl}}" alt=""> -->
        <!-- 130. Fixing the Photos issue for newly registered users -->
        <img src="{{photoUrl  || '../../assets/user.png'}}" alt="">
      </span>

      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <!-- 56. Adding Ngx Bootstrap to power our Bootstrap components -->
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <!-- <a class="dropdown-item" href="#"> -->
        <!-- 94. Creating a Member Edit Component -->
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fas fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>

    <!-- 38. Introduction to Angular template forms -->
    <!-- 41. Using *ngIf to conditionally display HTML Elements -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
        [(ngModel)]="model.username" />
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
        [(ngModel)]="model.password" />
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>