<!--The content below is only a placeholder and can be replaced.-->
<!--18. Adding Bootstrap and Font-Awesome to our Angular app-->
<!-- 37. Creating the Navigation and Login form -->
<app-nav></app-nav>
<!-- 42. Adding a component so users can Register to our site -->
<!-- 56. Adding Ngx Bootstrap to power our Bootstrap components -->
<div class="container">
  <!-- 61. Setting up our links in the nav component -->
  <router-outlet></router-outlet>
  <!-- <app-home></app-home> -->
  <!-- <app-value></app-value> -->
</div>
